* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  font-family: "Baloo 2", cursive;
}

.bg-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
  }
}

.container {
  padding: 6% 8%;
}

@media (max-width: 1024px) {
  .container {
    padding: 5%;
  }
}

.hero {
  height: 80vh;
  background-image: url(../img/hero.jpg);
}

.hero .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  line-height: 1;
  height: 100%;
  background-color: rgba(235, 72, 75, 0.8);
  color: #fff;
}

@media (max-width: 600px) {
  .hero .hero-text {
    width: 100%;
  }
}

.hero .hero-text .hero-title {
  font-size: 5rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .hero .hero-text .hero-title {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .hero .hero-text .hero-title {
    font-size: 3.25rem;
  }
}

@media (max-width: 600px) {
  .hero .hero-text .hero-title {
    font-size: 2.5rem;
  }
}

.hero .paragraph {
  line-height: 1.7;
}

@media (max-width: 600px) {
  .hero .paragraph {
    width: 70%;
  }
}

.section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .section-1 {
    display: block;
  }
}

.section-1 .column {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.section-1 .column-1 {
  background-color: #e0e5eb;
}

.section-1 .column-1 .title {
  width: 60%;
}

@media (max-width: 600px) {
  .section-1 .column-1 .title {
    width: 80%;
  }
}

.section-1 .column-1 .paragraph {
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .section-1 .column-1 .paragraph {
    margin-bottom: 40px;
  }
}

.section-1 .column-1 .btn {
  color: #eb484b;
  text-transform: uppercase;
  border: 1px solid #eb484b;
  padding: 6px 14px;
  -webkit-transition: .2s;
  transition: .2s;
}

.section-1 .column-1 .btn:hover {
  background-color: #eb484b;
  color: #fff;
}

.section-1 .column-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(235, 72, 75, 0.8))), url(../img/section1.jpg);
  background-image: linear-gradient(rgba(235, 72, 75, 0.8)), url(../img/section1.jpg);
}

@media (max-width: 600px) {
  .section-1 .column-2 {
    display: none;
  }
}

.section-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .section-2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-2 .img-div {
  height: 500px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

@media (max-width: 768px) {
  .section-2 .img-div {
    height: 360px;
  }
}

@media (max-width: 600px) {
  .section-2 .img-div {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 375px) {
  .section-2 .img-div {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 300px;
  }
}

.section-2 .img-div-1 {
  background-image: url(../img/img1Desktop.jpg);
}

@media (max-width: 768px) {
  .section-2 .img-div-1 {
    background-image: url(../img/img1Mobile.jpg);
  }
}

.section-2 .img-div-2 {
  background-image: url(../img/img2Desktop.jpg);
}

@media (max-width: 768px) {
  .section-2 .img-div-2 {
    background-image: url(../img/img2Mobile.jpg);
  }
}

.section-2 .img-div-3 {
  background-image: url(../img/img3Desktop.jpg);
}

@media (max-width: 768px) {
  .section-2 .img-div-3 {
    background-image: url(../img/img3Mobile.jpg);
  }
}

.section-2 .img-div-4 {
  background-image: url(../img/img4Desktop.jpg);
}

@media (max-width: 768px) {
  .section-2 .img-div-4 {
    background-image: url(../img/img4Mobile.jpg);
  }
}

.section-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .section-4 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-4 .column-text {
  color: #fff;
}

.section-4 .column-1 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: left;
  background-color: #eb484b;
}

@media (max-width: 600px) {
  .section-4 .column-1 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 375px) {
  .section-4 .column-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.section-4 .column-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background-image: url(../img/section3Desktop.jpg);
}

@media (max-width: 600px) {
  .section-4 .column-2 {
    display: none;
  }
}

.section-4 .column-3 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  text-align: right;
  background-color: #3e729a;
}

@media (max-width: 600px) {
  .section-4 .column-3 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 375px) {
  .section-4 .column-3 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.section-4 .column-3 .title {
  margin-right: 0;
  margin-left: auto;
}

.section-5 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .section-5 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-5 .column-1 {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  height: 600px;
  background-image: url(../img/section4Desktop.jpg);
}

@media (max-width: 600px) {
  .section-5 .column-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    background-image: url(../img/section4Mobile.jpg);
    height: 450px;
    flex-basis: 100%;
  }
}

.section-5 .column-2 {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  background-color: #2a2f33;
}

@media (max-width: 600px) {
  .section-5 .column-2 {
    display: none;
  }
}

.section-5 .column-floating {
  position: absolute;
  top: 50%;
  right: 15%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 4% 4% 4% 2%;
  width: 25%;
  background-color: #eb484b;
  color: #fff;
  text-align: right;
}

@media (max-width: 1024px) {
  .section-5 .column-floating {
    width: 40%;
  }
}

@media (max-width: 600px) {
  .section-5 .column-floating {
    width: 50%;
  }
}

@media (max-width: 375px) {
  .section-5 .column-floating {
    width: 80%;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    padding: 24px 16px;
  }
}

.section-5 .column-floating .paragraph {
  margin-bottom: 20px;
}

.section-5 .column-floating .btn {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 6px 14px;
  -webkit-transition: .2s;
  transition: .2s;
}

.section-5 .column-floating .btn:hover {
  background-color: #fff;
  color: #eb484b;
}

.section-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .section-6 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.section-6 .column {
  color: #fff;
}

.section-6 .column .title {
  width: 60%;
}

.section-6 .column .paragraph {
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .section-6 .column .paragraph {
    margin-bottom: 40px;
  }
}

.section-6 .column .btn {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  padding: 6px 14px;
  -webkit-transition: .2s;
  transition: .2s;
}

.section-6 .column .btn:hover {
  background-color: #eb484b;
  color: #fff;
}

.section-6 .column-1 {
  background-color: #65c887;
  text-align: left;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 600px) {
  .section-6 .column-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.section-6 .column-2 {
  background-color: #3e729a;
  text-align: right;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

@media (max-width: 600px) {
  .section-6 .column-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.section-6 .column-2 .title {
  margin-left: auto;
  margin-right: 0;
}

.footer {
  background-color: #2a2f33;
  color: #e0e5eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer .title {
  width: 60%;
}

.footer .column-1 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 8%;
}

@media (max-width: 600px) {
  .footer .column-1 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.footer .column-1 form {
  color: #e0e5eb;
}

.footer .column-1 form .form-row {
  margin-bottom: 10px;
}

.footer .column-1 form .form-row input,
.footer .column-1 form .form-row textarea {
  width: 100%;
  background-color: #2a2f33;
  border: 2px solid rgba(224, 229, 235, 0.4);
  padding: 12px 8px;
  color: #e0e5eb;
  border-radius: 4px;
}

.footer .column-1 form .form-row textarea {
  resize: none;
  height: 160px;
}

.footer .column-1 form ::-webkit-input-placeholder,
.footer .column-1 form button {
  font-family: "Baloo 2", cursive;
  color: rgba(224, 229, 235, 0.4);
}

.footer .column-1 form :-ms-input-placeholder,
.footer .column-1 form button {
  font-family: "Baloo 2", cursive;
  color: rgba(224, 229, 235, 0.4);
}

.footer .column-1 form ::-ms-input-placeholder,
.footer .column-1 form button {
  font-family: "Baloo 2", cursive;
  color: rgba(224, 229, 235, 0.4);
}

.footer .column-1 form ::placeholder,
.footer .column-1 form button {
  font-family: "Baloo 2", cursive;
  color: rgba(224, 229, 235, 0.4);
}

.footer .column-1 form button {
  text-transform: uppercase;
  padding: 6px 22px;
  background-color: #eb484b;
  border: 1px solid #eb484b;
  font-size: 16px;
  color: #e0e5eb;
}

.footer .column-2 {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-left: 8%;
}

@media (max-width: 600px) {
  .footer .column-2 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-left: 0;
    margin-top: 40px;
  }
}

.footer .column-2 ul {
  list-style: none;
  margin-bottom: 40px;
}

.footer .column-2 li a {
  color: #e0e5eb;
}

.footer .column-2 li:last-child {
  margin-top: 20px;
}

.footer .column-2 li:last-child a {
  margin-right: 12px;
}

.footer .column-2 li:last-child a:hover {
  color: #eb484b;
}
/*# sourceMappingURL=style.css.map */