// colors

$red:#eb484b;
$red-transparent:rgba(235, 72, 75, 0.8);
$light-grey:#e0e5eb;
$light-grey-transparent:rgba(224, 229, 235, 0.4);
$blue:#3e729a;
$black:#2a2f33;
$black-transparent:rgba(42, 47, 51, 0.9);
$green:#65c887;